*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  background-color: white;
  padding: 10px 5%;
  box-shadow: 0 1px 10px grey;
  display:grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  top: 0;
  width: 100%;
}
header img{
  position: relative;
  top: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
}
header h1{
  display: inline-block;
  background-color: #130637;
  color: white;
  border-radius: 5px;
  padding: 15px;
  font-weight: 800;
  font-size: 50px;
  margin-left: 5%;
}
header p{
  display: inline-block;
  font-style: italic;
  color: #d3d3d3;
  font-size: 1.5em;
  position: relative;
  top: 70px;
}
#top{
  font-size: 3em;
  font-weight: 500;
}
h1{
  font-weight: 500;
}
#swglink{
  text-decoration: none;
  color: #d3d3d3;
}
a{text-decoration: none; color: #d3d3d3;}
main{
  padding: 50px 10%;
  margin-top: 100px;
}
h3{
  margin: 5px;
}
.ans{
  color: grey;
  margin-bottom: 50px;
}
#description{
  color: grey;
  line-height: 25px;
  font-size: small;
  text-align: right;
}
main h2{
  margin: 20px auto;
  font-weight: normal;
  line-height: 1.5em;
}
#banner{
  text-align: center;
  margin-bottom: 30px;
}
footer{
  background-color: rgb(30,30,30);
  padding: 50px;
  color: white;
  text-align: center;
}
ul{
  list-style: none;
}
li{ margin-bottom: 20px;}
footer p{
  color: grey;
  margin-right: 50px;
}
